{% extends "base.html" %}
{% block title %}
Connexion
{% endblock %}
{% block content %}

<h2>Connexion</h2>
{% if error %}
<div style="color:red;">
    {{ error }}
</div>
{% endif %}

<form action="/auth/login" method="post">

    <div class="mb-3">
        <label for="username" class="form-label">Utilisateur</label>
        <input
            type="text"
            id="username"
            name="username"
            class="form-control"
            style="width:270px;"
            required>
    </div>

    <div class="mb-4">
        <label for="password" class="form-label">Mot de passe</label>

        <div style="position:relative; width:200px;">
            <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                style="padding-right:45px;"
                required>

            <button
                type="button"
                id="togglePassword"
                style="
                    position:absolute;
                    top:50%;
                    right:12px;
                    transform:translateY(-50%);
                    border:none;
                    background:none;
                    cursor:pointer;
                ">
                <i id="eyeIcon" class="bi bi-eye"></i>
            </button>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">
        Se connecter
    </button>

</form>


<script>
const password = document.getElementById("password");
const toggle = document.getElementById("togglePassword");
const eyeIcon = document.getElementById("eyeIcon");

toggle.addEventListener("click", () => {
    const isHidden = password.type === "password";
    password.type = isHidden ? "text" : "password";

    eyeIcon.classList.toggle("bi-eye", !isHidden);
    eyeIcon.classList.toggle("bi-eye-slash", isHidden);
});
</script>

{% endblock %}