fastapi
uvicorn[standard]
jinja2

sqlalchemy>=2.0
psycopg[binary]

alembic

python-jose[cryptography]
passlib[bcrypt]

python-multipart

pydantic
pydantic-settings

python-dotenv

email-validator

itsdangerous

boto3

openpyxl


