{% extends "base.html" %}
{% block title %}
{% if expense %}
Modifier la note de frais
{% else %}
Nouvelle note de frais
{% endif %}
{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="mb-0">
                    {% if expense %}
                        Modifier la note de frais
                    {% else %}
                        Nouvelle NDF : un seul type de dépense par NDF
                    {% endif %}
                </h3>
            </div>
            <div class="card-body">
                <!-- ================================================= -->
                <!-- FORMULAIRE                                        -->
                <!-- ================================================= -->
                <form
                    id="expense-form"
                    data-expense-id="{% if expense %}{{ expense.id }}{% endif %}">
                    <!-- ============================================= -->
                    <!-- INFORMATIONS DE LA NOTE                       -->
                    <!-- ============================================= -->
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="form-label">
                                Date de la dépense
                            </label>
                            <input
                                type="date"
                                id="expense_date"
                                class="form-control"
                                value="{% if expense %}{{ expense.expense_date }}{% endif %}"
                                required>
                        </div>
                        <div class="col-md-8 mb-3">
                            <label class="form-label">
                                Libellé
                            </label>
                            <input
                                type="text"
                                id="label"
                                class="form-control"
                                value="{% if expense %}{{ expense.label }}{% endif %}"
                                placeholder="On saisi : Prénom R2 J1 P1 = Rég 2 Journée 1 Phase 1 par exemple"
                                required>
                        </div>
                    </div>
                    <hr>
                    <!-- ============================================= -->
                    <!-- AJOUT D'UNE DEPENSE                           -->
                    <!-- ============================================= -->
                    <div class="dropdown mb-4">
                        <button
                            class="btn btn-primary dropdown-toggle custom-btn"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Ajouter une dépense
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <button
                                    type="button"
                                    class="dropdown-item"
                                    id="btn-add-item">
                                    Déplacement
                                </button>
                            </li>
                            <li>
                                <button
                                    type="button"
                                    class="dropdown-item"
                                    id="btn-add-supplies">
                                    Fournitures
                                </button>
                            </li>
                            <li>
                                <button
                                    type="button"
                                    class="dropdown-item"
                                    id="btn-add-meal">
                                    Repas
                                </button>
                            </li>
                            <li>
                                <button
                                    type="button"
                                    class="dropdown-item"
                                    id="btn-add-hotel">
                                    Hôtel
                                </button>
                            </li>
                            <li>
                                <button
                                    type="button"
                                    class="dropdown-item"
                                    id="btn-add-other">
                                    Autre
                                </button>
                            </li>
                        </ul>
                    </div>
                    <!-- ============================================= -->
                    <!-- LIGNES EXISTANTES EN MODE MODIFICATION        -->
                    <!-- ============================================= -->
                    <div id="expense-items">
                        {% if expense %}
                            {% for item in expense.items %}
                                <!-- ================================= -->
                                <!-- DEPLACEMENT EXISTANT              -->
                                <!-- ================================= -->

                                {% if item.item_type.name == "KM" %}
                                    {% include "expenses/creation/travel_item.html" %}
                                {% else %}
                                     {% include "expenses/creation/simple_item.html" %}
                                {% endif %}
                                
                            {% endfor %}
                        {% endif %}
                    </div>



                    <!-- ============================================= -->
                    <!-- TOTAL                                         -->
                    <!-- ============================================= -->
                    <div class="alert alert-success mt-4 d-flex justify-content-between">
                        <strong>
                            Total
                        </strong>
                        <strong id="total">
                            {% if expense %}
                                {{ "%.2f"|format(expense.total_amount) }} €
                            {% else %}
                                0.00 €
                            {% endif %}
                        </strong>
                    </div>
                    <!-- ============================================= -->
                    <!-- ENREGISTREMENT                                -->
                    <!-- ============================================= -->
                    <div class="text-end">
                        <button
                            type="submit"
                            class="btn btn-success ">
                             Enregistrer
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% include "expenses/creation/expense_templates.html" %}

{% include "expenses/creation/receipt_modal.html" %}

<!-- ===================================================== -->
<!-- JAVASCRIPT                                            -->
<!-- ===================================================== -->
<script
    type="module"
    src="/static/js/expenses.js">
</script>
{% endblock %}
