.navbar .nav-link {
    color: white !important;
    font-weight: 600;
}

.navbar .nav-link.active {
    background-color: rgba(255,255,255,0.25);
    border-radius: 6px;
    color: rgb(31, 19, 19) !important;
    font-weight: 700;
}

.navbar .nav-link:hover {
    background-color: rgba(255,255,255,0.15);
    border-radius: 6px;
}
